@model Prototipo1.Models.ViewModels.RecintoVM

<form method="post" class="row" enctype="multipart/form-data">
    <input asp-for="Recinto.IdRecinto" hidden/>
    <div class="row">
        <div class="col-10">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                        @(Model.Recinto.IdRecinto != 0 ? "Actualizar" : "Crear") Recinto
            </h2>
        </div>


        <div class="mb-3 row p-1">
            <label asp-for="Recinto.NombreRecinto" class="p-0"></label>
            <input asp-for="Recinto.NombreRecinto" class="form-control" />
                    <span asp-validation-for="Recinto.NombreRecinto" class="text-danger"></span>
        </div>

                <div class="mb-3 row p-1">
                    <label class="p-0">Aposento</label>
                    <select asp-for="@Model.Recinto.IdAposento" asp-items="@Model.AposentoList" class="form-select">
                        <option disabled selected>---Seleccionar Aposento---</option>
                    </select>
                    <span asp-validation-for="Recinto.IdAposento" class="text-danger"></span>
                </div>

        <div class="row">
            <div class="col-6 col-md-3">
                        @if (Model.Recinto.IdRecinto != 0)
                        {
                        <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                        }
                        else
                        {
                    <button type="submit" class="btn btn-primary form-control">Agregar</button>
                        }
            </div>
            <div class="col-6 col-md-3">
                        <a asp-controller="Recinto" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Volver a la lista
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    
</form>
