@model FacturaSalidaProducto

<form asp-action="Borrar" method="post">
    <input asp-for="IdFactura" hidden />
    <input asp-for="IdFacturaSalidaProducto" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Borrar Detalle
            </h2>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="CantidadDisminuida" class="p-0"></label>
            <input asp-for="CantidadDisminuida" disabled class="form-control" />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="EntregadoA" class="p-0"></label>
            <input asp-for="EntregadoA" disabled class=" form-control" />
        </div>


        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Borrar</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="FacturaSalidaProducto" asp-action="Index" asp-route-IdFactura="@ViewBag.IdFactura" class="btn btn-outline-secondary form-control">
                    Volver a la lista de detalles
                </a>
            </div>
        </div>
    </div>
</form>
