@model Prototipo1.Models.ViewModels.NivelVM

<form method="post" class="row" enctype="multipart/form-data">
    <input asp-for="Nivel.IdNivel" hidden/>
    <div class="row">
        <div class="col-10">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                        @(Model.Nivel.IdNivel != 0 ? "Actualizar" : "Crear") Nivel
            </h2>
        </div>


        <div class="mb-3 row p-1">
            <label asp-for="Nivel.NombreNivel" class="p-0"></label>
            <input asp-for="Nivel.NombreNivel" class="form-control" />
            <span asp-validation-for="Nivel.NombreNivel" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label class="p-0">Proyecto</label>
            <select asp-for="@Model.Nivel.IdProyecto" asp-items="@Model.ProyectoList" class="form-select">
                <option disabled selected>---Seleccionar Proyecto---</option>
            </select>
            <span asp-validation-for="Nivel.IdProyecto" class="text-danger"></span>
        </div>


        <div class="row">
            <div class="col-6 col-md-3">
                        @if (Model.Nivel.IdNivel != 0)
                        {
                        <button type="submit" class="btn btn-primary form-control">Actualizar</button>
                        }
                        else
                        {
                    <button type="submit" class="btn btn-primary form-control">Agregar</button>
                        }
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Nivel" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Volver a la lista
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    
</form>
